# Generated content
generated/
api-docs/
sqlite3
search

# Databases
*.db
*.sqlite
*.sqlite3

# Environment variables
.env

# Dependencies
node_modules/
package-lock.json

# OS files
.DS_Store
Thumbs.db

# Editor files
.obsidian/
.vscode/
.idea/
